.vs
.git

/BoyfriendBot.ConsoleApp/
/BoyfriendBot.Domain/bin/
/BoyfriendBot.Domain/obj/
/BoyfriendBot.Domain/Data/Scripts/
/BoyfriendBot.WebApp/bin/
/BoyfriendBot.WebApp/obj/
/BoyfriendBot.WebApp/Data/Rant
/BoyfriendBot.WebApp/Data/Private
/BoyfriendBot.WebApp/proxyAppSettings.json
/RussianRantDictionary/
