.vs
.git
/BoyfriendBot.ConsoleApp/bin/
/BoyfriendBot.ConsoleApp/obj/
/BoyfriendBot.Domain/bin/
/BoyfriendBot.Domain/obj/
/BoyfriendBot.WebApp/bin/
/BoyfriendBot.WebApp/obj/
/BoyfriendBot.WebApp/Data/
